In [1]:
#!pip install PyMySQL
#!pip install pandas

In [2]:
import pymysql.cursors
import pandas as pd

In [3]:
host = 'den1.mysql6.gear.host'
db = 'situation'
usr = 'situation'
psword = input()

# Connect to the database
connection = pymysql.connect(host=host, user=usr, password=psword, database=db, cursorclass=pymysql.cursors.DictCursor)

In [4]:
sql1 = "SELECT * FROM situation.i9_moleculeproperties"

# the pandas mysql is broken for some reason.
# directly use pymysql library api
data_mol_properties = None
with connection.cursor() as cursor:
    cursor.execute(sql1)
    ret = cursor.fetchall()
    data_mol_properties = pd.DataFrame(ret)
data_mol_properties.head(10)

   MoleculePropertyID  MoleculeID  PropertyID   Value
0                   1          14           1  151.16
1                   2          14           2       1
2                   3          14           3       1
3                   4          14           4       1
4                   5          14           5  100.00
5                   6          14           6       1
6                   7          14           7       1
7                  15          15           1  151.16
8                  16          15           2       2
9                  17          15           3       1

In [5]:
sql2 = "SELECT * FROM situation.i9_properties"

# the pandas mysql is broken for some reason.
# directly use pymysql library api
data_properties = None
with connection.cursor() as cursor:
    cursor.execute(sql1)
    ret = cursor.fetchall()
    data_properties = pd.DataFrame(ret)
data_properties.head(10)

   MoleculePropertyID  MoleculeID  PropertyID   Value
0                   1          14           1  151.16
1                   2          14           2       1
2                   3          14           3       1
3                   4          14           4       1
4                   5          14           5  100.00
5                   6          14           6       1
6                   7          14           7       1
7                  15          15           1  151.16
8                  16          15           2       2
9                  17          15           3       1